body {
	background: green;
}
span 
{
    border: solid 1px black;
}
div 
{
    max-width: 200px;   
}
span 
{
    border: solid 1px black;
}
div 
{
    max-width: 200px;   

    max-width:200px;
    width:auto;
    display:inline;
.todo name {width = 500px height = 500px}

}
