body {
  background: black;
  color: #666666;
  font-size: 1em;
  line-height: 1.4;
  margin-top: 75px;
  padding: 0;
  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    footer {
    margin: 10px 0;
    #comments, #comments li {
    margin: 0;
    padding: 0;
}
 
#comments li {
    list-style: none;
}
}
}
